<div class="app-root">
  <h1>{{title}}</h1>
  <div *ngIf="resorts$ | async as resorts">
    <div class="elements">
      <div class="element-left">
        <app-widget-data-select [resorts]="resorts" (selectedResort)="selectResort($event)"></app-widget-data-select>
      </div>
      <div class="element-right">
        <div class="element-top">
          <app-widget-weather [weather]="selectedResort.weather"></app-widget-weather>
        </div>
        <div class="element-bottom">
          <app-widget-social [info]="selectedResort.social_info"></app-widget-social>
        </div>
      </div>
    </div>
  </div>
</div>
